qic-radio {
    display: block;
    position: absolute;

    .qic-radio {
        &__label {
            display: flex;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
            border: 1px solid black;
        }

        &__input {
            margin: 0;
        }
    }

    &.qic-radio--is-selected {
        .qic-radio__label {
            border-width: 5px;
        }
    }
}
