<label
        data-controller="inputs--radios"
        style="width: 80px; height: 80px; border: 1px solid black; display: flex"
>
    <input type="radio" data-action="change->inputs--radios#select">
</label>