<label
        class="ap-input-radios__label"
>
    <input
            id="input"
            class="ap-input-radios__input"
            type="radio"
            name="{{name}}"
            value="{{value}}"
            {{#if checked}}checked{{/if}}
    >
</label>